<%= form_with(url: format_path) do |form| %>
<div class="form-group">
  <%=form.label(:name, "Name")%>
  <%=form.text_field(:name, class: "form-control")%>
</div>












  <%= form.submit("Very very very very very long text", class: "btn btn-primary btn btn-primary btn btn-primary btn btn-primary") %>
<% end %>

<%= link_to(dont_replace, what_to_do, class: 'do |what,bad|') do |hello| %><span>Should allow to use the word do in the code
</span><% end %>

<%= this_is_not_a_do_block_do %>
